Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-signed-char-misuse,
  -bugprone-suspicious-string-compare,
  -bugprone-reserved-identifier,
  -bugprone-not-null-terminated-result,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-switch-missing-default-case,
  -bugprone-unchecked-optional-access,
  clang-analyzer-core.NullDereference,
  clang-analyzer-core.DivideZero,
  clang-analyzer-core.uninitialized.*,
  clang-analyzer-security.insecureAPI.strcpy,
  clang-analyzer-security.insecureAPI.gets,
  misc-redundant-expression,
  readability-misleading-indentation
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/(halite|salt)/.*'
