[Desktop Entry]
Type=Application
Name=Install saltOS
GenericName=System Installer
Comment=Install saltOS to disk
Icon=calamares
Exec=/usr/local/bin/saltos-installer
Terminal=false
Categories=System;
Keywords=calamares;install;installer;
